@import "tailwindcss";

@theme {
    /* Cores */
    --color-green: #22c55e;
    --color-green-text: #15803d;
    --color-green-hover: #16a34a;

    /* Tamanhos de Fonte */
    --text-h1: 2rem;
    --text-h6: 1rem;
}